grant codebase "file:C:\\Users\\Danuta\\Documents\\NetBeansProjects\\AuthPermission\\login.jar"
{    
   permission javax.security.auth.AuthPermission "createLoginContext.Login1";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
};

grant principal com.sun.security.auth.NTUserPrincipal "harry"
{
   permission java.util.PropertyPermission "user.*", "read";
};